<div class="grid place-items-center">
  <div
    class="m-[1rem] rounded-lg border-[1px] border-gray-400 bg-slate-50 shadow-lg"
  >
    <div
      class="rounded-t-lg bg-gray-200 px-[1rem] py-[0.5rem] text-xl font-semibold"
    >
      Sign-up
    </div>
    <form class="w-[30rem] p-[1rem]" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label for="first_name" class="mb-2 block text-gray-900"
          >First name</label
        >
        <input
          type="text"
          id="first_name"
          formControlName="firstName"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
          required
        />
      </div>

      <div class="mt-[1rem]">
        <label for="last_name" class="mb-2 block text-gray-900"
          >Last name</label
        >
        <input
          type="text"
          id="last_name"
          formControlName="lastName"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
          required
        />
      </div>

      <div class="mt-[1rem]">
        <label for="username" class="mb-2 block text-gray-900">Username</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
          required
        />
      </div>

      <div class="mt-[1rem]">
        <label for="password" class="mb-2 block text-gray-900">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
          required
        />
      </div>

      <div class="mt-[2rem] flex items-center">
        <button
          type="submit"
          class="mr-[2rem] rounded-lg bg-blue-700 px-5 py-2.5 font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-300"
        >
          Sign-up
        </button>

        <a
          routerLink="/auth/sign-in"
          class="font-medium text-blue-600 underline dark:text-blue-500"
          >Cancel</a
        >
      </div>
    </form>
  </div>
</div>
